<section class="contact">

<div class="container">
	
	<h3 class="section-title">Contact Us</h3>
	<p class="caption">you can request a movie</p>

		<form class="contact__form">

		<input type="text" placeholder="&#xf007; Name" class="contact__input fa fa-user" aria-hidden="true">
		<input type="text" placeholder="&#xf02b; Subject" class="contact__input fa fa-tag" aria-hidden="true">
		<input type="email" placeholder="&#xf0e0; Email" class="contact__input fa fa-envelope" aria-hidden="true">
		<textarea name="text" placeholder="&#xf044; Message ..." class="contact__text fa fa-pencil-square-o" aria-hidden="true"></textarea>
		<button type="submit" class="contact__btn">
			<i class="fa fa-paper-plane" aria-hidden="true"></i>
			Send
		</button>
	</form>

</div>
	
</section>