
		<div class="reviews-cast-section movie-reviews">
			<h3 class="movie-reviews-title">Movie Reviews</h3>
				<ul class="movie-reviews-list">
					<li class="movie-reviews-item">
						<img src="movie-reviews-cast-img/nancy-doe.png"" class="movie-reviews-img">
						<h5 class="movie-reviews-name">Nancy Doe - <span class="movie-revies-span">Creative artist</span></h5> 
						<p class="movie-reviews-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  
					</li>
					<li class="movie-reviews-item">
						<img src="movie-reviews-cast-img/nancy-doe.png" class="movie-reviews-img">
						<h5 class="movie-reviews-name">Nancy Doe - <span class="movie-revies-span">Creative artist</span> </h5>
						<p class="movie-reviews-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
					</li>
					<li class="movie-reviews-item">
						<img src="movie-reviews-cast-img/nancy-doe.png"" class="movie-reviews-img">
						<h5 class="movie-reviews-name">Nancy Doe - <span class="movie-revies-span">Creative artist</span></h5>
						<p class="movie-reviews-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					</li>
				</ul>
		</div>
