
  		<div class="review-cast-section movie-cast">
  			<h3 class="movie-cast-title"> Cast</h3>
			<ul class="movie-cast-list">
			<li class="movie-cast-item">
				<img  class="movie-cast-img" src="movie-reviews-cast-img/andrew.png" alt="">
				<h5 class="movie-cast-name">Andrew Garfild as <span class="movie-cast-span">Spider-Man/Peter Parker</span></h5>
			</li>
			<li class="movie-cast-item">
				<img  class="movie-cast-img" src="movie-reviews-cast-img/emma.png" alt="">
				<h5 class="movie-cast-name">Emma Stone as <span class="movie-cast-span">Gwen Stacy</span></h5>
			</li>
			<li class="movie-cast-item">
				<img  class="movie-cast-img" src="movie-reviews-cast-img/jamie.png" alt="">
				<h5 class="movie-cast-name">Jamie Foxx as <span class="movie-cast-span">Electro/Max Dillon</span></h5>
			</li>
			<li class="movie-cast-item">
				<img  class="movie-cast-img" src="movie-reviews-cast-img/paul.png" alt="">
				<h5 class="movie-cast-name">Paul Giamatti as <span class="movie-cast-span">Alexey Sytsevich</span></h5>
			</li>
			<li class="movie-cast-item">
				<img  class="movie-cast-img" src="movie-reviews-cast-img/andrew2.png" alt="">
				<h5 class="movie-cast-name">Andrew Garfield as <span class="movie-cast-span">Spider-Man/Peter Parker</span></h5>
			</li>
		</ul>
		</div>
