<ul class="movie-list">
	<li class="movie-item movie-item--lucy">
		<figure class="movie-img">
			<div class="tag">
				<div class="fa-icon">
					<i class="fa fa-tag"></i>
				</div>
				<p class="tags">
					Action, Crime, Adventure
				</p>
			</div>
		</figure>
		<h4 class="movie-title">
			Lucy - 2014
		</h4>
		<div class="movie-rating">
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		</div>
		<div class="movie-info">
			<p class="movie-price">
				$20
				<del>
					$30
				</del>
			</p>
			<ul class="movie-quality">
				<li class="movie-quality--item">
					3D
				</li>
				<li class="movie-quality--item">
					1080p
				</li>
				<li class="movie-quality--item">
					720p
				</li>
			</ul>
		</div>
		<h5 class="movie-buy">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			Add to cart
		</h5>
	</li>
	<li class="movie-item movie-item--spiderman">
		<figure class="movie-img">
			<div class="tag">
				<div class="fa-icon">
					<i class="fa fa-tag"></i>
				</div>
				<p class="tags">
					Action, Crime, Adventure
				</p>
			</div>
		</figure>
		<h4 class="movie-title">
			The amazing Spiderman
		</h4>
		<div class="movie-rating">
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		</div>
		<div class="movie-info">
			<p class="movie-price">
				$20
				<del>
					$30
				</del>
			</p>
			<ul class="movie-quality">
				<li class="movie-quality--item">
					1080p
				</li>
				<li class="movie-quality--item">
					720p
				</li>
			</ul>
		</div>
		<h5 class="movie-buy">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			Add to cart
		</h5>
	</li>
	<li class="movie-item movie-item--divergent">
		<figure class="movie-img">
			<div class="tag">
				<div class="fa-icon">
					<i class="fa fa-tag"></i>
				</div>
				<p class="tags">
					Action, Crime, Adventure
				</p>
			</div>
		</figure>
		<h4 class="movie-title">
			Divergent - 2014
		</h4>
		<div class="movie-rating">
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		</div>
		<div class="movie-info">
			<p class="movie-price">
				$20
				<del>
					$30
				</del>
			</p>
			<ul class="movie-quality">
				<li class="movie-quality--item">
					3D
				</li>
				<li class="movie-quality--item">
					1080p
				</li>
				<li class="movie-quality--item">
					720p
				</li>
			</ul>
		</div>
		<h5 class="movie-buy">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			Add to cart
		</h5>
	</li>
	<li class="movie-item movie-item--hunger-games">
		<figure class="movie-img">
			<div class="tag">
				<div class="fa-icon">
					<i class="fa fa-tag"></i>
				</div>
				<p class="tags">
					Action, Crime, Adventure
				</p>
			</div>
		</figure>
		<h4 class="movie-title">
			The hunger games
		</h4>
		<div class="movie-rating">
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
			<span class="fa fa-star"></span>
		</div>
		<div class="movie-info">
			<p class="movie-price">
				$20
				<del>
					$30
				</del>
			</p>
			<ul class="movie-quality">
				<li class="movie-quality--item">
					3D
				</li>
				<li class="movie-quality--item">
					1080p
				</li>
				<li class="movie-quality--item">
					720p
				</li>
			</ul>
		</div>
		<h5 class="movie-buy">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			Add to cart
		</h5>
	</li>
</ul>