<section class="preview">
	<div class="container">
		<h1 class="preview-title">
			Purchase HD movies at the smallest size
		</h1>
		<p class="preview-caption">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		</p>
		<div class="preview-options">
			<button class="preview-btn">
				Browse movies
			</button>
			<button class="preview-btn">
				Latest movies
			</button>
		</div>
	</div>		
</section>